@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      #333
    )
    #111;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #eb212e;
  border-radius: 4px;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: pretty;
  }
}
