@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      #333
    )
    #111;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #eb212e;
  border-radius: 4px;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

.space {
  position: sticky;
  width: var(--size);
  height: var(--size);
  top: 0;
  left: 0;
  background: white;
  opacity: 75%;
  box-shadow: var(--space-layer);
  animation: moveStars var(--duration) linear infinite;
}

@keyframes moveStars {
  from {transform: translateY(0);}
  to {transform: translateY(-100vh);}
}

@layer utilities {
  .text-balance {
    text-wrap: pretty;
  }
}
